<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="SecretPassword" value="87DFG8S7G9S8G98SDFGHSDFG978DA" />
  <add key="Username" value="danhaas@gmail.com"/>
  <add key="Password" value="047216148"/>
</appSettings>